html {
  font-size: 18px;
  font-family: Helvetica;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 960px;
}

header {
  background-color: black;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

header img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

header .header-title {
  color: white;
  padding: 0.66rem 0;
}

.new-arrival {
  background-image: url("../images/moto.jpg");
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  height: 25rem;
  width: 100%;
}

.new-arrival .arrival-text {
  background-color: black;
  display: block;
  margin-top: 9rem;
  margin-bottom: 6rem;
  padding-left: 3rem;
  width: 20rem;
}

.arrival-text h4 {
  color: white;
  margin-bottom: 0.25rem;
  padding-top: 2rem;
  font-size: 1rem;
  font-weight: bold;
}

.arrival-text h2 {
  color: white;
  padding-top: 0.25rem;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
}

nav {
  background-color: firebrick;
  background-size: cover;
  width: 100%;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav li {
  color: white;
  padding: 0.75rem 0;
}

.items {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
  width: 100%;
}

.items .item1,
.items .item2,
.items .item3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid black;
  width: 30%;
}

.item1 .image-container,
.item2 .image-container,
.item3 .image-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 9rem;
  max-width: 9rem;
  margin: 2rem 0;
}

.item1 img,
.item2 img,
.item3 img {
  max-height: 100%;
  max-width: 100%;
}

.item1 span,
.item2 span,
.item3 span {
  color: white;
  display: block;
  background-color: black;
  text-align: center;
  padding: 0.5rem 0;
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4rem;
}

.info .info-item {
  width: 35%;
}

.info-item span {
  background-color: black;
  color: white;
  display: block;
  padding: 1rem 0 1rem 2rem;
}

footer {
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  height: 5rem;
  width: 100%;
}

footer p {
  color: white;
}

.small {
  display: none;
}

@media only screen and (max-width:1024px) {
  .main {
    width: 100%;
  }

  .large {
    display: none;
  }

  .small {
    display: flex;
    justify-content: center;
  }

  .items .item3 {
    display: none;
  }

  .items .item1,
  .items .item2 {
    width: 47%;
  }
}

@media only screen and (max-width:470px) {
  .arrival-text h4 {
    margin: 0 0;
    font-size: 0.77rem;
  }

  .arrival-text h2 {
    margin: 0 0;
    font-size: 1rem;
  }

  .new-arrival .arrival-text {
    margin-top: 10rem;
    margin-bottom: 0;
    padding-left: 2rem;
    padding-top: 1rem;
    width: 100%;
  }

  .new-arrival {
    height: 15rem;
  }

  .items {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .items .item1 {
    width: 90%;
  }

  .items .item2,
  .items .item3 {
    display: none;
  }

  .info {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .info .info-item {
    width: 90%;
    margin: 0.25rem 0;
  }

  footer {
    justify-content: center;
  }

}
